<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container rounded bg-white mt-3 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">Thiago Castro</span>
                <span class="text-black-50">thi.castro@mail.com.my</span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-6 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Configurações de Perfil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Nome do usuário</label>
                        <input type="text"  name="usuario.nome" id="usuario_nome" class="form-control" placeholder="Nome usuario">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">CNPJ</label>
                        <input type="text" name="cnpj" id="cnpj" class="form-control"  placeholder="CNPJ">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">E-mail</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="email">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Empresa</label>
                        <input type="text" name="nome" id="nome" class="form-control" placeholder="nome da empresa">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Tipo</label>
                        <input type="text" name="tipo" id="tipo" class="form-control" placeholder="tipo">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Segmento</label>
                        <input type="text" name="segmento.nome" id="segmento_nome" class="form-control" placeholder="segmento">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">CEP</label>
                        <input type="text" name="endereco.cep" id="cep" class="form-control" placeholder="CEP">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Logradouro</label>
                        <input type="text" name="endereco.logradouro" id="endereco_logradouro" class="form-control" placeholder="logradouro">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Número</label>
                        <input type="text" name="endereco.numero" id="endereco_numero" class="form-control" placeholder="número">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Complemento</label>
                        <input type="text" name="endereco.complemento" id="endereco_complemento" class="form-control" placeholder="complemento">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Bairro</label>
                        <input type="text" name="endereco.bairro.nome" id="endereco_bairro_nome" class="form-control" placeholder="bairro">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Cidade</label>
                        <input type="text" name="endereco.bairro.cidade.nome" id="endereco_bairro_cidade_nome" class="form-control" placeholder="cidade">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Código IBGE</label>
                        <input type="text" name="endereco.bairro.cidade.codIbge" id="endereco_bairro_cidade_codIbge" class="form-control" value="" placeholder="código IBGE">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Estado</label>
                        <input type="text" name="endereco.bairro.cidade.estado.nome" id="endereco_bairro_cidade_estado_nome" class="form-control" placeholder="estado">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">País</label>
                        <input type="text" name="endereco.bairro.cidade.estado.pais.nome" id="endereco_bairro_cidade_estado_pais_nome" class="form-control"  placeholder="páis">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="labels">Senha</label>
                    <input type="password" name="usuario.senha" id="senha" class="form-control" placeholder="Senha" value="">
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-6 col-md-4 text-center">
                        <button class="btn btn-primary profile-button" type="button">Salvar Perfil</button>
                    </div>
                    <div class="col-6 col-md-4 text-center">
                        <button class="btn btn-danger profile-button" type="button" id="deleteButton">Excluir Perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/js/myProfile.js}"></script>

</body>
</html>